.App {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.your-age {
  border:3px solid #777;
  padding:5px;
  border-radius:4px !important;
  -webkit-appearance: text;
  background-color:transparent;
  color:#FFF;
  font-family: inherit;
}

.calendar-area {
  display:flex;
  flex-direction:row;
  position: absolute;
  top:58px;
  bottom:0px;
  left:0;
  right:0;
}

.calendar-year {
  flex-grow:1;
  height:100%;
}

/*
.calendar-fill {
  width:100%;
  background-color:purple;
}

.calendar-fill {
  width:100%;
  background-color:purple;
}

.calendar-year:hover .calendar-fill {
  background-color:plum;
}
*/

.calendar-week-holder {
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
}

.calendar-week {
  flex-grow:1;
  width:100%;
  background-color:#CCC;
  border-bottom:1px solid plum;
  border-right:1px solid plum;
}

.calendar-week:hover {
  background-color:#FFF !important;
}

.calendar-week.lived {
  background-color:purple;
}

.calendar-year.death .calendar-week {
  background-color:red;
}

.calendar-year.past-life .calendar-week {
  background-color:#AAA;
}
