.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.calendar-area {
  display:flex;
}

.calendar-year {
  flex-grow:1;
  height:200px;
  background-color:#DDD;
  border-right:1px solid plum;
}

.calendar-year:hover {
  flex-grow:1;
  height:200px;
  background-color:#CCC;
}

.calendar-fill {
  width:100%;
  background-color:purple;
}

.calendar-year:hover .calendar-fill {
  background-color:plum;
}
