.App {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.your-age {
  border:3px solid #777;
  padding:5px;
  border-radius:4px !important;
  -webkit-appearance: text;
  background-color:transparent;
  color:#FFF;
  font-family: inherit;
}

.calendar-area {
  display:flex;
  flex-direction:row;
  position: absolute;
  top:58px;
  bottom:0px;
  left:0;
  right:0;
}

.calendar-year {
  flex-grow:1;
  height:100%;
  background-color:#DDD;
  border-right:1px solid plum;
}

.calendar-year.death {
  background-color:red;
}

.calendar-year.past-life {
  background-color:#AAA;
  border-right:1px solid #BBB;
}

.calendar-year:hover {
  flex-grow:1;
  background-color:#CCC;
}

.calendar-fill {
  width:100%;
  background-color:purple;
}

.calendar-year:hover .calendar-fill {
  background-color:plum;
}
